# File: /etc/apt/apt.conf.d/20auto-upgrades
# src: https://github.com/geerlingguy/ansible-for-devops/blob/master/security/templates/20auto-upgrades.j2
APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";